{% extends 'base.html' %}

{% block title %}
{{ title }}
{% endblock %}
{% block content %}
{% if username %}
<link rel="stylesheet" href="/static/css/login.css">
<div class="login">
<li>用户名:{{ username }}</li>
<li><a href="/user/logout.html">退出登录</a></li>
{% else %}
<li><a href="/user/login.html}">登陆</a> </li>
<li><a href="/user/register.html">注册</a></li>
{% endif %}
{% if user_id %}
<li><a href="/record/{{ user_id }}">你的发帖记录</a></li>
{% endif %}
</div>
<form class="form" action="" method="post" enctype="multipart/form-data">
     {% csrf_token %}
      <div class="title"><input type="title" placeholder="写下你的文章标题" id="title" name="title"></div>
      <div class="slug"><input type="slug" placeholder="写个标签吧" id="slug" name="slug"></div>
      <div class="context"><textarea id="context" name="body"></textarea></div>
      <span>图片：</span><input type="file" name="pic">
      <br>
      <button type="submit" class="btn btn-primary btn-block">确定</button>
      {% if tips %}
      <div>{{ tips }}</div>
      {% endif %}
</form>
{% endblock %}