{% extends 'base.html' %}

{% block title %}
{{ title }}
{% endblock %}
{% block content %}
{% if username %}
<link rel="stylesheet" href="/static/css/login.css">
<script type="text/javascript" src="/static/javascript/tips.js"></script>
<div class="login">
<li>用户名:{{ username }}</li>
<li><a href="/user/logout.html">退出登录</a></li>
{% else %}
<li><a href="/user/login.html}">登陆</a> </li>
<li><a href="/user/register.html">注册</a></li>
{% endif %}
{% if user_id %}
<li><a href="/record/{{ user_id }}">发帖记录</a></li>
{% endif %}
</div>
<form class="form" action="" method="post" enctype="multipart/form-data">
     {% csrf_token %}
      <div class="title">标题
      <br>
      <input type="title" placeholder="写下你的文章标题" id="title" name="title"></div>
      <div class="category">分区
      <br>
          <select name="sel_value" id="category">
       {% for key,value in select_form.Article_category %}
        <option value="{{ value }}">{{ key }}</option>
       {% endfor %}
      </select>
      </div>
      <div class="slug">简介
          <br>
          <textarea  placeholder="写个标签吧" id="slug" name="slug"></textarea></div>
      <div class="context">正文
          <br>
          <textarea id="context" name="body"></textarea></div>
      <div class="tupian"><input type="file" name="pic"></div>
      <div class="tijiao">
      <button type="submit" class="btn btn-primary btn-block" id="tijiao" >提交</button>
      </div>
</form>
      {% if tips %}
       <div class="submittips" id="tips">
       <img id="ban" src="/static/img/ban.png" />
       {{ tips }}</div>
      {% endif %}
{% endblock %}
