absl-py==0.8.1
asn1crypto==0.24.0
astor==0.8.0
attrs==19.1.0
Automat==0.7.0
autopep8==1.5
cachetools==3.1.1
certifi==2019.9.11
cffi==1.12.3
chardet==3.0.4
colorama==0.4.3
constantly==15.1.0
cryptography==2.7
cssselect==1.0.3
cycler==0.10.0
defusedxml==0.6.0
Django==2.1.15
django-allauth==0.41.0
django-pyodbc-azure==2.1.0.0
dukpy==0.2.2
future==0.18.2
gast==0.2.2
google-auth-oauthlib==0.4.1
google-pasta==0.1.8
grpcio==1.25.0
h5py==2.10.0
hyperlink==19.0.0
idna==2.8
incremental==17.5.0
javascripthon==0.10
Jinja2==2.11.1
jupyter-echarts-pypkg==0.1.2
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
lml==0.0.2
lxml==4.3.4
macropy3==1.1.0b2
Markdown==3.1.1
MarkupSafe==1.1.1
matplotlib==2.1.0
numpy==1.16.4
oauthlib==3.1.0
opencv-python==4.1.0.25
opt-einsum==3.1.0
parsel==1.5.1
Pillow==7.0.0
prettytable==0.7.2
protobuf==3.15.0
py-backwards==0.7
py-backwards-astunparse==1.5.0.post3
pyasn1==0.4.5
pyasn1-modules==0.2.5
pycodestyle==2.5.0
pycparser==2.19
PyDispatcher==2.0.5
pyecharts==0.5.11
pyecharts-javascripthon==0.0.6
pyecharts-jupyter-installer==0.0.3
pyecharts-snapshot==0.1.7
PyHamcrest==1.9.0
pyOpenSSL==19.0.0
pyparsing==2.4.6
python-dateutil==2.8.1
python3-openid==3.1.0
pytz==2019.3
queuelib==1.5.0
requests==2.22.0
requests-oauthlib==1.3.0
rsa==4.0
service-identity==18.1.0
simplejson==3.17.0
six==1.12.0
sqlparse==0.3.0
tensorboard==2.0.1
tensorflow==2.0.0
tensorflow-estimator==2.0.1
termcolor==1.1.0
typed-ast==1.4.1
Unidecode==1.1.1
urllib3==1.25.7
w3lib==1.20.0
Werkzeug==0.16.0
wrapt==1.11.2
zope.interface==4.6.0
