         .*{
             margin: 0;
             padding: 0;

         }
         div.nav{
             float:left;
             width:70%;
             display: inline-block;
            height:75px;
         }

         div.nav a{
             position:absolute;
             text-decoration: none;
             font-size: 22px;
             height:75px;
             line-height:75px;
              margin-left:2cm;
         }
         div.nav a:hover{
             color: black;
         }
         div.nav a.logo{
             display: inline-block;
             font-size: 120%

         }
         #p1{
             height:100%;
             margin-left:2cm;
         }
         #xian{
         width:143%;

         }
         #xuanfu{
position:absolute;
right:30%;
padding:0;
margin:0;

text-align: center;
margin-top:-10px;
}
#right{
margin-left:50px;
}
#head{
width: 40x;
height: 40px;
border-radius: 26px;
margin:0;
padding:0;
}
#appear{
position: absolute;
width: 180px;
height:auto;
border: 0;
}
#username{
position: relative;
margin-top:10px;
margin-left: 0;
word-wrap: break-word;

text-align: left;
}
#logout{
position: relative;
margin-top:10px;
margin-left:0;

text-align: left;
}
#more{
position:relative;
height:30px;
line-height:30px;
width:180px;
background-color:#F5F5F5;
text-align: center;
}
div.login{
  float:left;
  margin-bottom:54px;
  height:75px;
  width: 30%;
  vertical-align:middle;
         }
div.login a{
text-decoration: none;
margin-left:10px;
color: gray;
         }
div.login li{
 display: inline-block;
 text-decoration: none;
 padding-top:25px;
 padding-left:10px;
         }
div.login :hover
{
color:black
}
