         .*{
             margin: 0;
             padding: 0;
         }
         div.nav{
             border-bottom: 1px solid #ccc;
             float:left;
             width:70%;

         }
         div.nav a{
             text-decoration: none;
             color: gray;
         }
         div.nav a.logo{
             display: inline-block;
             font-size: 120%
         }
         #p1{
             padding-left:500px;
             width:40px;
             height:30px;

         }