div.all{
 background-color:#F5F5F5;

}
hr.hr0{

}
div.navs{
background-color:white;
 list-style:none;

}
div.navs li{
font-size:25px;
 font-family: "Microsoft soft";
 margin-left:2cm;
 font-weight:100;
  display: inline-block;

}
div.navs a{
 text-decoration:none;
}
div.navs a:hover{
 color: black;
}

div.body{

}
div.login{
  float:left;
  width: 30%;
  margin-bottom:54px;
  height:75px;

         }
div.login a{
text-decoration: none;
color: gray;
margin-left:10px;
         }
div.login li{
 display: inline-block;
 color: gray;
 text-decoration: none;
 margin-left:10px;
 padding-top:25px;
         }
div.context{
 text-decoration: none;
margin-left:2cm;
         }
 #title{
 outline-style: none ;
 border: 1px solid #ccc;
 width: 620px;
 padding: 8px 8px;
 font-size: 20px;
 border-radius: 3px;
 font-family: "Microsoft soft";

 }
div.title{
margin-left:2cm;
}
 #slug{
 outline-style: none ;
 border: 1px solid #ccc;
 width: 620px;
 padding: 8px 8px;
 height: 100px;
 font-size: 20px;
 border-radius: 3px;
 font-family: "Microsoft soft";
 box-shadow: inset 0 1px 1px;
 }
div.slug{
margin-left:2cm;


}
 #context{
 border: 1px solid #ccc;
 width: 620px;
 padding: 8px 8px;
 height: 500px;
 border-radius: 3px;
 font-family: "Microsoft soft";
  box-shadow: inset 0 1px 1px;
  font-size: 20px;
 }
div.tupian{

width:300px;
display:inline-block;
margin-left:2cm;
}
div.tijiao{
display:inline-block;
margin-top:0;
margin-left:20px;

}
#tijiao{
width:200%;
height: 200%;
font-family: "Microsoft soft";
background-color: #FF0033;
color: white;
font-size: 25px;
}
#tijiao:hover{
background-color: red;
}
div.contexts{
 font-family: "Microsoft soft";
 padding-bottom:20px;
}
div.contexts a{
 text-decoration: none;
 color: LightSalmon;
  border-bottom: 1px solid LightSalmon;
  margin-left:2cm;
}
div.post span{
position:absolute;
left:70%;
}

#data{
 margin-left:2cm;
}
div.contexts a:hover{
color:#1E90FF;
}

div.submit li{
 list-style:none;
}
div.submit a{
 text-decoration: none;
 color: gray;
}
div.submit a:hover{
 color: black;
}


div.index{
position: absolute;
top: 50%;
left: 50%;
font-size:200%;
}
div.index a{
color: LightSalmon;
text-decoration: none;
}
div.index a:hover{
color:#1E90FF;
}
div.page{
float:right;
padding-right:50px;

}
div.page a{
text-decoration: none;
}
#countpage{
padding-right:20px;
}
div.submittips{
position:fixed;
left: 50%;
top: 50%;
padding:8px 20px 8px 20px;
border-radius:10px;
box-shadow: 0 0 5px gray;
}
#ban{
height: 15px;
vertical-align: middle;
}
