div.login{
  float:left;
  width: 30%;
  margin-bottom:54px;
  border-bottom: 1px solid #ccc;
  height:75px;
         }
div.login a{
text-decoration: none;
color: gray;
margin-left:10px;
         }
div.login li{
 display: inline-block;
 color: gray;
 text-decoration: none;
 margin-left:10px;
         }
div.context{
 text-decoration: none;
         }
 #title{
 outline-style: none ;
 border: 1px solid #ccc;
 width: 620px;
 padding: 12px 12px;
 font-size: 25px;
 border-radius: 3px;
 font-family: "Microsoft soft";
  box-shadow: inset 0 1px 1px;
 }
div.title{
text-align: center;
}
 #slug{
 outline-style: none ;
 border: 1px solid #ccc;
 width: 500px;
 padding: 12px 12px;
 font-size: 25px;
 border-radius: 3px;
 font-family: "Microsoft soft";
  box-shadow: inset 0 1px 1px;
 }
div.slug{
text-align: center;
}
 #context{
 border: 1px solid #ccc;
 width: 600px;
 padding: 12px 12px;
 height: 500px;
 border-radius: 3px;
 font-family: "Microsoft soft";
  box-shadow: inset 0 1px 1px;
 }
div.context{
text-align: center;
}
div.text_area{
text-align:center;
}
#text_area{
width: 600px;
height: 500px;
}
#src{
list-style-type:none;
}